@use './var';

#addChat {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: var.$height;
  margin-bottom: var.$pad;
}

#addChat > button {
  display: flex;
  justify-content: space-between;
  padding-left: var.$pad * 1.5;
}

#addChat > button div:nth-of-type(2) {
  width: 100%;
  max-width: var.$width;
  height: 100%;
}
