@use './var';

#chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var.$pad;
  padding-bottom: calc((var.$pad * 1.5) + var.$height);
}

#chats > h1 {
  width: 100%;
  display: flex;
  padding: var.$pad;
  margin-bottom: var.$pad;
  border-bottom: var.$borderBottom;
}

#chats > a {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: auto;
  width: 100%;
  gap: calc(var.$pad / 2);
  padding: var.$pad;
  padding-left: calc(var.$pad * 1.5);
  padding-right: calc(var.$pad * 1.5);
  border-bottom: var.$border;
  border-radius: 0;
  background: var.$dark;
}

#chats > a:last-of-type {
  border-bottom: 0;
  margin-bottom: calc(var.$pad / 2);
}

#chats > a > div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var.$pad;
}

#chats > a > div > svg {
  height: calc(var.$height / 3);
}

#chats > a > div > footer {
  position: static;
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 100%;
  gap: var.$pad;
}

#chats > a > div > footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  gap: calc(var.$pad / 3);
}

#chats > a > div > footer div > div {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

#chats > a > div > svg {
  max-width: calc(var.$width / 2);
  width: 100%;
  height: calc(var.$height / 3);
  padding: 0;
}

#chats > a > div > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  border-radius: var.$borderRadius;
}

#chats > a > div > div:first-child > div {
  font-size: 0.85rem;
  opacity: 50%;
}

#chats > a > div > div:nth-of-type(2) {
  width: fit-content;
}

#chats > a > div > footer svg {
  width: calc(var.$width / 2);
  max-width: var.$width;
  height: calc(var.$height / 2);
  padding: calc(var.$pad / 3);
}

#chats > a > div > footer > div svg {
  width: calc(var.$width / 2);
  max-width: var.$width;
  height: calc(var.$height / 3);
  padding: calc(var.$pad / 5);
}
