@use './var';

#chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var.$pad;
  padding-bottom: calc((var.$pad * 2) + var.$height);
}

#chat > h1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var.$pad;
  border-radius: var.$borderRadius;
}

#chat > .message {
  display: flex;
  flex-direction: column-reverse;
  align-self: start;
  align-items: start;
  height: auto;
  width: 100%;
  padding: var.$pad;
  gap: calc(var.$pad / 2);
  border-radius: var.$borderRadius;
  border-bottom: var.$borderBottom;
}

#chat > .message:last-of-type {
  border-bottom: 0;
}

#chat > .message:nth-of-type(3n) {
  align-self: start;
  align-items: start;
  text-align: start;
}

#chat > .message > div {
  display: flex;
  gap: calc(var.$pad / 2);
}

#chat > .message:nth-of-type(3n) > div {
  flex-direction: row;
}

#chat > .message > div:nth-of-type(2) > div {
  display: flex;
  font-size: 0.85rem;
  opacity: 25%;
}

#chat > .message:nth-of-type(3n) > div:nth-of-type(2) {
  text-align: end;
}

#chat > .message > div h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var.$borderRadius;
}

#chat > .message > div > div {
  align-self: end;
  align-items: start;
  text-align: start;
  border-radius: var.$borderRadius;
}
