@use './var';

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var.$pad;
  overflow: auto;
  height: 100%;
  padding-top: calc(var.$pad * 10);
  padding-bottom: calc(var.$pad * 10);
  animation: show 1s ease;
}

@keyframes show {
  from {
    transform: translateY(-25.5rem);
  } to {
    transform: translateY(0rem);
  }
}

#contact > main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var.$borderRadius;
  box-shadow: var.$shadow;
}

#contact > main > div,
#contact > main > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var.$width * 1.4);
  height: calc(var.$height * 1.4);
  padding: calc(var.$pad * 1.25);
  z-index: 1;
  background: var.$primary;
}

.rotate {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var.$borderRadius;
}

.rotate > div {
  position: absolute;
  width: 30rem;
  height: 30rem;
  animation: infinite rotate 4s linear;
  background: conic-gradient(
    rgba(30, 30, 229, 1), 
    rgba(30, 30, 229, 0.25), 
    rgba(30, 30, 229, 0.25), 
    rgba(30, 30, 229, 1), 
  );
  background: var.$primary;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}
