@use './var';

#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var.$pad;
  padding-bottom: calc((var.$pad * 1.5) + var.$height);
}

#contacts > h1 {
  width: 100%;
  display: flex;
  padding: var.$pad;
  margin-bottom: var.$pad;
  border-bottom: var.$borderBottom;
}

#contacts > #findNav {
  margin-bottom: var.$pad;
}

#contacts > #findNav,
#contacts > #findNav > form {
  width: 100%;
  display: flex;
  background: var.$primary;
  border-radius: var.$borderRadius;
}

#contacts > #findNav > form > button {
  width: calc(var.$width * 2);
}

#contacts > #findNav > form > input {
  width: 100%;
  display: flex;
  background: var.$primary;
}

#contacts > .contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
  width: 100%;
  gap: calc(var.$pad / 2);
  padding-bottom: calc(var.$pad / 5);
  background: var.$dark;
}

#contacts > div:last-of-type {
  border-bottom: 0;
  padding: 0;
  margin-bottom: calc(var.$pad / 2);
}

#contacts > .contact > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 0;
  z-index: 0;
}

#contacts > .contact > div > a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-height: fit-content;
  height: fit-content;
  padding: var.$pad;
  padding-left: calc(var.$pad * 1.5);
  width: 100%;
  border-radius: 0;
  background: var.$dark;
}

#contacts > .contact > div > a > div {
  opacity: 50%;
  font-size: 0.85rem;
}

#contacts > .contact button {
  position: absolute;
  right: 0;
  display: flex;
  max-width: var.$width;
  padding: calc(var.$pad / 5);
  height: 100%;
  background: transparent;
}
