@use './var';

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  padding: var.$pad;
  gap: calc(var.$pad * 5);
}

#contact button {
  background: var.$dark;
}

#contact > div {
  display: flex;
  flex-direction: column;
  padding: var.$pad;
  gap: var.$pad;
  border-radius: var.$borderRadius;
  background: var.$primary;
  box-shadow: var.$shadow;
}

#contact > div > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact > div > main > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var.$width;
  height: var.$height;
  border-radius: var.$borderRadius;
}

#contact > div > main > div:last-of-type {
  display: none;
}

#contact > div > main > div > div {
  font-size: 0.85rem;
  opacity: 25%;
}

#contact footer {
  display: flex;
  flex-direction: column;
}

#contact footer > button {
  height: var.$height;
  width: var.$width;
  background: var.$primary;
  padding: calc(var.$pad / 4);
}