@use './var';

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var.$pad;
  overflow: auto;
  height: 100%;
  padding-top: calc(var.$pad * 5);
  padding-bottom: calc(var.$pad * 5);
  animation: 1s linear slowOpacity, intoMove 1.4s ease;
}

#contact > main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var.$borderRadius;
  box-shadow: var.$shadow;
  padding: calc(var.$pad / 5);
  animation: show 1s ease;
  background: var.$primary;
  z-index: 0;
}

#contact p {
  padding: calc(var.$pad * 2);
  padding-top: calc(var.$pad * 2.5);
  animation: show 1s ease;
}

#contact p:nth-of-type(2) {
  padding-top: 0;
  animation: show 1s ease;
}

#contact > main > div {
  z-index: 0;
  border-radius: var.$borderRadius;
  background: var.$primary;
}

#contact > main > div > div,
#contact > main > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var.$width * 1.1);
  height: calc(var.$height * 1.4);
  padding: calc(var.$pad / 2.5);
  z-index: 0;
  border-radius: 0;
  border-radius: var.$borderRadius;
  background: var.$primary;
}

@keyframes show {
  from {
    transform: translateY(-25.5rem);
  } to {
    transform: translateY(0rem);
  }
}

@keyframes slowOpacity {
  from {
    opacity: 0%;
  } to {
    opacity: 100%;
  }
}
