@use './var';

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

nav > .hidden {
  transform: translateY(6.2rem);
}

nav > ul {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: calc(var.$maxWidth * 1.05);
  bottom: 0;
  padding: var.$pad;
  padding-top: 0;
  transition: transform 0.6s ease;
}

nav > ul > div {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: var.$borderRadius;
  background: var.$primary;
  box-shadow: var.$shadow;
}

nav > ul > div > li {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 7.5rem;
  height: 100%;
  width: 100%;
}

nav input {
  background: var.$primary;
}

nav > div {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  max-width: calc(var.$maxWidth * 1.05);
  padding: var.$pad;
  padding-top: 0;
  transition: transform 0.6s ease;
}

nav > div > form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var.$dark;
  border-radius: var.$borderRadius;
  background: var.$primary;
  box-shadow: var.$shadow;
}

nav > div > form > button {
  max-width: var.$width;
}

nav > div > form > button:nth-of-type(2) {
  max-width: var.$width;
}

nav > div > form > input {
  width: 100%;
  border-radius: var.$borderRadius;
}

nav > #contactNav > form,
nav > #contactNav > form > button {
  background: var.$dark;
  box-shadow: none;
}
