@use './var';

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var.$pad;
  overflow: auto;
  height: 100%;
  padding-top: calc(var.$pad * 10);
  padding-bottom: calc(var.$pad * 10);
}

#profile > main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var.$borderRadius;
  box-shadow: var.$shadow;
  animation: show 1s ease;
  z-index: 0;
}

#profile > main > div,
#profile > main > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var.$width * 1.1);
  height: calc(var.$height * 1.4);
  padding: calc(var.$pad / 2.5);
  z-index: 1;
  border-radius: var.$borderRadius;
  background: var.$primary;
}

#profile p {
  padding: calc(var.$pad * 2);
  animation: show 1s ease;
}

@keyframes show {
  from {
    transform: translateY(-25.5rem);
  } to {
    transform: translateY(0rem);
  }
}
