$borderRadius: 0.25rem;
$height: 4rem;
$width: 4rem;
$maxWidth: 30rem;
$pad: 1rem;
$dark: #141419;
$primary: $dark;
$gradient: linear-gradient(
  45deg,
  #2a42ae,
  #1b43f2,
);
$borderBottom: 0.15rem solid $dark;
$outline: 0.15rem solid #2746d0;